<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <ul>
        <li>
            Home
            About
        </li>
    </ul>
    </header>
    <main>
        <section>
            <a href="https://www.youtube.com/watch?v=BsDoLVMnmZs&t=4857s">Facebook</a><br>
            <a href="https://www.bing.com/search?q=web+whatsapp&cvid=b8ce70b64c454859bf25c4d2fd353c57&aqs=edge.0.0j69i57j0l3j46j0l3.2345j0j4&FORM=ANAB01&PC=U531" target="Email_id">Email</a><br>
            <a href=""https://www.google.com" target="_blank">Open Facebook</a><br>
        </section>
        <section>
            <div>
                <h1>
                    why html
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Amet architecto animi dolores, numquam deserunt aperiam laborum cupiditate
                      error possimus, 
                    nisi repellat, blanditiis modi ab adipisci quae consectetur esse culpa optio?
                </p>
                <span>This is span tag </span>
            </div>
            <div>
                <h1>
                    why need of css anf javascrpt
                </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, nisi?

                </p>
            </div>
        </section>
    </main>
    <footer>
        this is footer section
    </footer>
</body>
</html>